* {
  font-family: "Roboto", sans-serif;
}
body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}
.mainView {
  min-height: 100vh;
}
label {
  display: block;
}
form {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 250px;
  height: 375px;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  border-radius: 2%;
  /* box-shadow: 5px 5px 2px 2px rgb(51, 51, 51); */
  background-color: whitesmoke;
  justify-items: center;
}

.authPage {
  min-height: 95.5vh;
  background-image: url("./flat-lay-photography-of-variety-of-vegetables-1435_02d82b3618b7bfc8d9ea1d6ed6de5448.jpg");
  background-size: cover;
  /* filter: blur(8px);
  -webkit-filter: blur(8px); */
}

.authPage h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 10vh;
  font-size: calc(16px + 5vmin);
  color: rgb(156, 156, 156);
  text-shadow: 2px 2px 3px #000000;
}

.Form {
  position: relative;
  top: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Profile {
  margin-top: 10vh;
  display: flex;
  justify-content: center;
  max-height: 100vh;
}

.About {
  background-image: url("./flat-lay-photography-of-variety-of-vegetables-1435_02d82b3618b7bfc8d9ea1d6ed6de5448.jpg");
  background-size: cover;
  min-height: 95.5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.aboutContainer {
  background-color: whitesmoke;
  padding: 50px;
  border: 1px solid black;
  border-radius: 0.25em;
}

.Menu {
  height: 40px;
  width: 100vw;
}

.Menu a:hover {
  color: rgb(128, 117, 117);
}
.Menu a {
  color: black;
}

.Menu div {
  align-items: center;
}

.bookSection {
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-self: center;
}

.userBook {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 93.5vh;
}

.userBook h3 {
  position: relative;
  bottom: 20vh;
}

div.ui.card {
  height: 15vh;
  width: 15vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.ui.card:hover {
  box-shadow: 2px 2px 5px rgb(80, 80, 80);
}

div.ui.card:last-child {
  margin-top: 10px;
}

div.header {
  font-size: 12pt;
  font-weight: bold;
  margin-bottom: 5px;
  color: black;
}

div.header:hover {
  color: lightskyblue;
}

div.description {
  color: black;
  font-size: 12px;
}

div.meta {
  font-size: 12px;
}

.ui.card:first-child {
  margin: 0px;
  margin-left: 5px;
  margin-right: 5px;
}

.smallContainer {
  position: relative;
  bottom: 20vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 80vw;
  flex-wrap: wrap;
}

.singleBook {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 93.5vh;
  padding-bottom: 5px;
}

.singleRecipe {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  height: 93.5vh;
}

.singleRecipeBack {
  position: relative;
  right: 45vw;
}

.singleBookBack {
  position: relative;
  bottom: 25vh;
  right: 45vw;
}

.singleBook h1 {
  position: relative;
  bottom: 25vh;
}

.singleBookBack a {
  color: black;
}

.singleBookBack a:hover {
  color: black;
}

.singleRecipeBack a {
  color: black;
}

.singleRecipeBack a:hover {
  color: black;
}

div.ui.card.smallRecipe {
  height: 10vh;
  width: 10vw;
  margin-top: 5px;
}

.addForm {
  position: relative;
}

div.ui.modal {
  width: fit-content;
}
