* {
  font-family: "Roboto", sans-serif;
}
body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}
.mainView {
  min-height: 100vh;
}
label {
  display: block;
}
form {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 250px;
  height: 375px;
  border-width: 1px;
  border-style: solid;
  border-color: gray;
  border-radius: 2%;
  /* box-shadow: 5px 5px 2px 2px rgb(51, 51, 51); */
  background-color: whitesmoke;
  justify-items: center;
}

.authPage {
  min-height: 95.1vh;
}

.authPage h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 10vh;
  font-size: calc(16px + 5vmin);
  color: orange;
}

.Form {
  position: relative;
  top: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Profile {
  margin-top: 10vh;
  display: flex;
  justify-content: center;
  max-height: 100vh;
}

.userBook {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: 100vh;
}

.singleBook {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: 100vh;
}

.singleRecipe {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: 100vh;
}

.Menu {
  height: 42px;
  background-color: lightgray;
}

.Menu a:hover {
  color: orange;
}
.Menu a {
  color: black;
}

.Menu div {
  align-items: center;
}

.Menu h1 {
  margin: 0px;
  margin-left: 5px;
}
