* {
  font-family: 'Roboto', sans-serif;
}
body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

.Form {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Profile {
  margin-top: 10vh;
  display: flex;
  justify-content: center;
}

.Menu {
  height: 20px;
  max-width: 100vw;
}

.Menu a:hover {
  color: orange;
}
.Menu a {
  color: black;
}

.Menu div {
  display: inline-flex;
  align-items: center;
}

.Menu h1 {
  margin: 0px;
  margin-left: 5px;
}
